<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="64"
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons"> home </i>
        Início
      </a>
      <a mat-list-item routerLink="/produtos">
        <i class="material-icons"> storefront </i>
        Produto
      </a>
      <a mat-list-item routerLink="/calendar">
        <i class="material-icons"> today </i>
        Calendar
      </a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-container class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
