<h1>
    Epsilom lorem ipsion of mine
</h1>

<p>
    Hello my name is
</p>
<p class="nigga"> {{ name }} </p>

    <button class="navigate" (click)="navigateButton()" mat-raised-button > Teste </button>

<form>
    <mat-form-field>
        <input mat-form-field type="text"> 
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    
</form>
